body{
  display: grid;
  place-items: center;
  height: 100vh;
}

.container{
  background-color:#cdd3d6;
  
  height: 40vh;
  width: 30vw;
  margin: 0 auto;
  border: 2px solid black;
  padding: 4rem 1.5rem;
  max-width: 350px;
  border-radius: 5px;
  min-width: 300px;
  cursor: pointer;
}
.container:hover{
transform: scale(1.1);
/* background-color: rgb(182, 69, 176); */
/* color: white; */
}

.img{
    display: flex;
    margin: 0 auto;
    object-position: center;
    transition:0.5s ;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: -30px;
    background: url("img/im.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.img:hover{
  transform: scale(1.2);
  border-radius: 10%; 
}

 .nav{
   font-weight: bold;
   text-align: center;
}

.menu{
  display: flex;
  column-gap: 2rem;
  text-align: center;
  justify-content: center;
  /* border: 2px solid black; */
  font-weight: bold;
  /* color: white; */
}

.menu .item p{
  line-height: 0px;
}

.bad{
  display: flex;
  justify-content: center;
  column-gap: 3rem;
  margin: 1rem;
}

 .btn2{
  background-color: rgb(0, 60, 255);
  border: none;
  border-radius: 5px;
  width:90px ;
}

.btn2:hover
{
  background-color: black;
  transform: scale(1.2,1.2);
}

 .btn1{
  background-color: rgb(207, 37, 165);
  border: none;
  border-radius: 5px;
  width:90px ;
}

.btn1:hover
{
  background-color: black;
  transform: scale(1.2,1.2);
}

.bad button a{
  text-decoration: none;
  color: white;
   font-weight:900;
}

.text{
  text-align: center;
}

.logos{
  display: flex;
  column-gap: 30px;
  justify-content: center;
  font-size: 2rem;
}

.fa-instagram-square{
  color: rgb(218, 69, 69);
}


.fa-github{
  color: black;
}

.fa-youtube-square{
  color:red;
}

.fa-twitter{
  color: blue;
}

.fa:hover,.fa-brands:hover{
  transform: scale(1.2);
}

.copy{
  text-align: center;
}

@media only screen and (min-width:300px) and (max-width:500px){
  .container{
    display: block;
  }
}
